* {
  box-sizing: border-box;
}

main {
  width: 50vw;
  height: 90vh;
  margin: auto;
  border: 1px solid black;
}

#gallery {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#select-box {
  width: 30%;
  border: 1px solid red;
}

#image-box {
  width: 70%;
  border: 1px solid green;
}

.image-list_item {
  height: 40px;
  width: 100%;
  display: flex;
}

#image-list > * + * {
  margin-top: 10px;
}

.image-list_image {
  height: 40px;
  width: 40px;
}
.image-list_image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.image-list_title {
  flex-basis: 70%;
  margin: 0px 10px;
  line-height: 40px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#image-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#image-box_image {
  height: 90%;
}

#image-box_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#image-box_title {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.active {
  background-color: blue;
  color: white;
}
